.container {
  min-height: 100vh;
  background: linear-gradient(to right bottom, rgba(201, 201, 201, 0.123), rgba(112, 112, 112, 0.219)), url(./background.jpg) no-repeat center center;

  [type=submit] {
    font-weight: bold;
  }
}

.card {
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 48px;
  padding: 40px 0;
  font-weight: 300;

  span {
    font-weight: bold;
    color: @primary-color;
  }
}

.heading {
  margin-bottom: 10px;
}

.forgot {
  color: black;
}

.remember {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  span {
    padding-top: 10px;
  }
}

.icon {
  display: flex;
  justify-content: space-between;
  .google {
    padding-right: 20px;
  }
}

.footer {
  text-align: center;
  padding-top: 20px;
  span {
    padding-right: 5px;
  }
}
